

<html>
    <head>
        <style>
            
            .about-section {
                padding: 50px;
                text-align: center;
                background-color: #474e5d;
                color: white;
            }
            h2{
                margin-top: 0%;
                text-align: center;
                font-size: 40px;
                background-color: aqua;
            } 
            
        </style>
        
    </head>
    <body>
        <div class="about-section">
            <h1>About Us Page</h1>
            <p>We are the students of BVRIT HYDERABAD. </p>
            <p>This website helps the farmers to buy the products.</p>
        </div>
        <h2 >We sell:</h2>
        <div align = "center" >
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZuwK_yIc3r2D0caX7YvnH6jJEYh4ZTl_20w&usqp=CAU" style="height: 220px;"/>
            <img src = "https://ensia.com/wp-content/uploads/2016/05/feature_pesticides_main-760x378.jpg" style="height: 220px;"/>
            <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRe4bOvPGBzKk74GvQtz5QAgF4RETv-rQi5zQ&usqp=CAU" style="height: 300px;"/>
            <img src = "https://www.theindustryoutlook.com/uploaded_images/newstransfer/yle46seeds%20variety_123.jpg" style="height: 220px;" />

        </div>
        
        
    </body>
    
</html>