<!DOCTYPE html>
<htmL>
    <head>
        <title>Farmers Store Cart</title>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width" initial-scale = 1>
        <link href = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel = "stylesheet" integrity = "sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <script src = "https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity = "sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    </head>
    <style>
        body{
            align-content: center;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding-left: 170px;
            padding-top: 0px;
            background-color: antiquewhite;

            background-size: 100%;
        }
        th{
            color: white;
            font-weight: bold;
        }
        .blinkeffect{
            animation: blink 2s infinite;
          }
          @keyframes blink {
            0% {
              opacity: 1;
            }
            100% {
              opacity: 0;
              color: green;
            }
          }
          .hover:hover{
            background-color: green;
          }
    </style>

    <body>
        <div class = "container">
        <form action = "cartsubmit" method = "GET">
        <center><h1 class = "blinkeffect" style = "font-weight: bold; padding-right:100px;"> YOUR CART!!!<i class="bi bi-cart-fill"></i></h1></center>
        <div class = "cart" style = "width:900px; height:600px; padding-left: 200px;padding-top: 10px; border-radius: 4%;">
            <table class = "table" style="width: 500px; height: 300px;">
                <tr style = "background-color: lightblue;">
                    <th>Products </th>
                    <th>Number</th>
                    <th>Cost </th>
                    </tr>
                <% for(var i = 0;i < productsData.length;i++){ %>
                        <tr style = "background-color: white">
                        <td><%= productsData[i] %></td>
                        <td><%= Number[i] %></td>
                        <td><%= cost[i] %></td>
                        </tr>
                <% } %>
                <tr class = "hover" style = "background-color: lightgreen;">
                    <th>Total Cost</th>
                    <th></th>
                    <th><%= amount %></th></tr>
            </table>
            <a href="http://localhost:3000/details"<button type = "submit" style="width:30%;font-weight: bold;margin-left: 150px;" class="btn btn-outline-success" >Proceed to Buy <i class="bi bi-cart4"></i></button></a>
            <br><br>
            
            </div><br>
            <b style = "padding-left: 150px; color: black">Happy Shopping <i class="bi bi-emoji-smile"></i> Buy Again!!!</b></div>
        </form></div>
    </body>
</htmL>