<!DOCTYPE html>

<html>
    <head>
        
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: antiquewhite;
            }
            
            
            h1{
                font-size: 50px;
                text-align: center;
            }

            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 25%;
                padding-top: 30px;
            }

            button{
                background-color: green;
                color:white;
                height: 45px;
                font-size: larger;
                margin: 0 auto;
                display: block;
                margin-top: 20px;
            }
            button:hover{
                background-color:goldenrod;
            }

            
        </style>
    </head>
    <body>
        <div >
            <h1>Farmer Store</h1>
            <div align="center">
                    <img src = "https://i.pinimg.com/originals/27/4c/3a/274c3ad7626992dde987d15a8a84064d.png" height = "125px">
                    
                    <h4>A Store for farmers</h4>
            </div>
        </div>
        <div>
            <img src="https://cdn.dribbble.com/users/362700/screenshots/1740184/einkaufswagen-400x.gif" class="center">
            <h1>Thank You for Shopping with us!   :)</h1>
            <a href="http://localhost:3000/homepage"><button>Go to Home Page</button></a>
        </div>
        
    </body>

</html>