<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            *{
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                background-color: antiquewhite;
            }
            .navbar{
                display: flex;
                align-items: center;
                padding: 20px;
            }
            nav{
                flex: 1;
            }
            nav ul{
                display: inline-block;
                list-style-type: none;
            }
            nav ul li{
                display: inline-block;
                margin-right: 20px;
            }
            .anc{
                text-decoration: none;
                color: #555;
            }

            p{
                color: #555;
            }
            .container{
                max-width: 1300px;
                margin: auto;
                padding-left: 25px;
                padding-right: 25px;
            }
            .header .row{
                margin-top: 70px;
            }
            .small-container{
                max-width: 1080px;
                margin: 60px;
                padding: 25px;
                padding-right: 25px;
            }
            .col{
                margin-bottom: 50px;
                padding: 10px;
                transition: transform 0.5s;
            }
            .col img{
                height: 250px;
            }
            .title{
                text-align: center;
                margin: 0 auto 80px;
                position: relative;
                line-height: 60px;
                color: #555;
            }
            h4{
                color: #555;
                
            }
            .col p{
                font-size: 20px;
            }
            .rating .fa{
                color:  #ff523b;
            }
            .col:hover{
                transform: translateY(-5px);
            }
            .btn{
                font-size: 20px;
                border: 2px solid #1f1c1b;
                width: 120px;
                height: 40px;
                text-align: center;
                line-height: 20px;
                cursor: pointer;
            }
            .btn:hover{
                background: #ff523b;
                color: #fff;
            }
            h4{
                margin: 20px 0;
                font-size: 22px;
                font-weight: bold;
            }
            select{
                display: block;
                padding: 10px;
                margin-top: 20px;
            }
            input{
                width: 50px;
                height: 40px;
                padding-left: 10px;
                font-size: 30px;
                margin-right: 10px;
                border: 1px solid #ff523b;
            }
            input:focus{
                outline: none;
            }
            @media only screen and (max-width: 600px){
                .row{
                    text-align: center;
                }
                .col{
                    flex-basis: 100%;
                }
                .single-product .row{
                    text-align: left;
                }
                .single-product{
                    padding: 20px 0;
                }
                .single-product h1{
                    font-size: 25px;
                    line-height: 22px;
                }
            }

        </style>
    </head>
    <body>
        <div class="container">  
            <div style="text-align: right;" class = "navbar">
                <div >
                    <img src = "https://i.pinimg.com/originals/27/4c/3a/274c3ad7626992dde987d15a8a84064d.png" height = "125px">
                    <h4>A Store for farmers</h4>
                </div>
                
                <nav>
                    <ul>
                        <li><a href= "http://localhost:3000/aboutus"  class="anc">About us</a></li>
                        <li><a href= "http://localhost:3000/contactus" class="anc">Contact</a></li>
                        <li><a href= "http://localhost:3000" class="anc">log out</a></li>
                        <li><a href= "http://localhost:3000/cart" class="anc"><img src = "https://cdn-icons-png.flaticon.com/512/1413/1413908.png" width="30px" height="30px"/></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="small-container">
            <h1 class="title">Vermi Compost</h1>
            

            <div class="row">
                <div class="col">
                    <div class = "navbar">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxVmwN7E4XL23n5KVCGMAr2nZvk79qNyvKmw&usqp=CAU">
                    
                        <nav>
                        <p style="padding: 20px;">
                            Name : Vermi Compost <br>
                            Price : 100 Rs/- per kg<br>
                            Quantity Supplied: Custom<br><br>
                            Description: Vermicompost (vermi-compost) is the product of the decomposition process using various species of worms, usually red wigglers, white worms, and other earthworms, to create a mixture of decomposing vegetable or food waste, bedding materials, and vermicast. Ready to be mixed directly into the soil, or mixed with water to use as liquid fertilizer.<br>
                        </p>
                        </nav>
                        
                        <div class="rating">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                        </div>
                    
                        <div>
                          <form action="addToCart" method ="GET">
                            COST: <input type = "text" style = "width:80px; font-weight:bold;" name = "cost" value="100/-">
                        </div>
                            <input type="number" value="1" name="nm"><br>
                            <button type="submit" class="btn btn-outline-success" name="item" value ="vermi-compost">Add to cart</button>
                          </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>